<!DOCTYPE HTML>
<html>
    
    
<style>

div.panel,p.flip
{
    margin:0px;
    padding:5px;
    text-align:center;
    background:#e5eecc;
    border:solid 1px #c3c3c3;
}
div.panel
{
    height:120px;
    display:none;
    position:absolute;
}

.container {
   text-align: center;
 }
 
 .container div {
   display: inline-block;
   padding: 20px;
   width: 150px;
 }
 
 .rbc-label-start {
   font-family: fontawesome;
   font-weight: bold;
   font-size: 30px;
 }
 
 .rbc-center-text {
   font-family: 'Roboto', 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
   fill: white;
 }
 
 .calories .rbc-center-text-line0 {
   font-size: 95px;
 }
 
 .calories .rbc-center-text-line1 {
   font-size: 20px;
 }
 
 .gpa .rbc-center-text-line0 {
   font-size: 30px;
 }
 

</style>

 <!----------------Content Mid
					---------------------->				
  <div class="main-dashboard">
		<div class="middle-content" style="padding-bottom:2em; border-style:none; margin-top: 0px;margin-right: 5px; margin-left: 5px;  box-shadow:none;padding-top:0px; padding-left:20px; padding-right:20px">
		 <div class="row">
		 <div class="col-sm-4" style="padding-top:25px;padding-right:20px; padding-left:30px;text-align:center">
		    <h3 style="color:grey">Complete these tasks to get to: <br><span style="color:green">Level <%=@user.level.level+1 if @user%></span></h3>
		 </div><!---><div class="col-sm-8" style="padding-left:0px;padding-right:30px">   
		    <!--<h2 style="text-align:center;">Tasks</h2><br>-->
	     <!--   <div class="row-fluid">-->
      <!--      <div class="btn-group btn-group-justified" style="height:80px;">-->
      <!--        <a href="#" class="btn btn-warning btn-lg" style="white-space: normal">Completed</a>-->
      <!--        <a href="#" class="btn btn-success btn-lg" style="white-space: normal;">Current tasks</a>-->
      <!--        <a href="#" class="btn btn-primary btn-lg" style="white-space: normal;">Upcoming tasks</a>-->
      <!--      </div>-->
      <!--      </div>-->
        
 <!----------------Cards---------------------->
        
      <div data-step="3" data-intro="Check the app and see where everything is located  Ive created few tasks for you, as you finish them you will get to the second level and get more perks opened for you. My primary job is to guide you, but I can definitely other things too. Feel free to ask me questions about your tasks, friends, rules, investments etc. " class="list-group" style="font-family:'Roboto'; font-size:16px; color:#666666; padding:0px; "><% @user.user_tasks.each do |user_task| %>

                <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">
                <div class="row">
                    
                    <div class="col-md-2">
                         <% if user_task.completed %>
                        <h4 style="color:green">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </h4>
                        <%end%>
                    </div><div class="col-md-6 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;"><h4><%=user_task.task.task%></h4>
                </div>
                 <div class="col-md-3 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;color:green"><h4>+1 <%=user_task.task.table_skill.skill_name%></h4></div>
   
                </div>
                </a>
                <% end %>
            </div>
</div></div>
			</div>
</div>
		    </div>
 <!----------------End Content Mid
					---------------------->	


<!---->

<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">New message</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form>-->
<!--          <div class="form-group">-->
<!--            <label for="recipient-name" class="form-control-label">Recipient:</label>-->
<!--            <input type="text" class="form-control" id="recipient-name">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="message-text" class="form-control-label">Message:</label>-->
<!--            <textarea class="form-control" id="message-text"></textarea>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Send message</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


    <div class="clearfix"></div>
  	     
  	     
<!-----------Invest Modal---->
  	     
  	 <div class="modal fade" id="investModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="max-width:50%; margin-left:25%;margin-top:10%;margin-rigt:auto; position:fixed">
  	     <div class="modal-content" 
        <div>
            
            <ul class="nav nav-tabs nav-justified" style="font-size:2em">
  		    <li class="active" style="color:green"><a data-toggle="tab" href="#Invest" >Invest</a></li>
  		    <h4 id="modalETFName" class="muted" style="text-align:center;color:green"></h4>
  		    
          		<!--<li ><a data-toggle="tab" href="#Cash" >Invest</a></li>-->
		    </ul>
        		
        <div class="tab-content" >
        <div id="Cash" class="tab-pane fade in active">
        	
        	<div class="row">
        		<div class="col-xs-5 col-md-offset-1" style="height:150px;border-right-style:solid;border-right-color:#dcdcdc; border-right-width:thin;border-bottom-style:solid;border-bottom-color:#dcdcdc; border-bottom-width:thin;text-align:center">
        			<p style="padding-top:10px; font-size:1em">Available cash<br>
        			<span style="color:green;font-size:4em; padding-top:25px">$<%=current_user.funds/100%></span></p>
        		</div><!---><div class="col-xs-5" style="height:150px;text-align:center;border-bottom-style:solid;border-bottom-color:#dcdcdc; border-bottom-width:thin">
        		<p style="padding-top:10px;font-size:1em">How much do you want to invest?<br><br>
        			<span><input id="amountInvested" class="form-control form-control-lg" type="text" placeholder="Enter here"></span></p>
        		</div>
        	</div>
        		
            <div class="modal-body">
                <h4 style="text-align:center">To get more cash follow this link <i class="fa fa-angle-double-right" aria-hidden="true"></i></h4>
      		</div>
      			
      		<div class="modal-footer">
      	    	<input type="hidden" id="etfID" value=""></input>
      			<button id="makeInvestment" type="button" class="btn btn-success" style="width:80px;">Invest</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;">Close</button>
      		</div>
      	
      	</div>
        </div>
        </div>
        </div>
        </div>
        
<!-----------Invest Modal End---->



<!-----------Cash Modal End---->
    <div id="cashModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="max-width:50%; margin-left:25%;margin-top:5%;margin-rigt:auto; position:fixed">
  	<div class="modal-content">
    <div>
            
            <ul class="nav nav-tabs nav-justified" style="font-size:2em">
  		    <li class="active" style="color:green"><a data-toggle="tab" href="#Invest" >Available Cash</a></li>
<!--<li ><a data-toggle="tab" href="#Cash" >Invest</a></li>-->
		    </ul>
    
        <div class="tab-content" >
        <div id="Cash" class="tab-pane fade in active">
        	
        	<div class="row">
        		<div class="col-xs-6 col-xs-offset-3" style="height:120px;border-bottom-style:solid;border-bottom-color:#dcdcdc; border-bottom-width:thin;text-align:center">
        			<span style="color:green;font-size:4em; padding-top:15px">$<%=current_user.funds/100%></span></p>
        		</div>
        	</div>
        		
    <div class="modal-body">
<h3 style="text-align:center">This is how you can get more cash to invest</h3>    
<br>
    <div class="list-group" style="font-family:'Roboto'; font-size:14px; color:#666666;" >
          
        <a href="#" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
            <div class="row">
                <div class="col-xs-10"><p style="font-family:'Roboto'; font-size:1em; color:#666666;" >Take a quiz and earn $10</p>
            </div><!----><div class="col-xs-2"><button type="button" class="btn btn-default">Go</button></div>
            </div>
        </a>
      		
        <a href="#" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
            <div class="row">
                <div class="col-xs-10"><p style="font-family:'Roboto'; font-size:1em; color:#666666;" >Share on facebook and earn $30</p>
            </div><!----><div class="col-xs-2"><button type="button" class="btn btn-default">Go</button></div>
            </div>
        </a>
      		
        <a href="#" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
            <div class="row">
                <div class="col-xs-10"><p style="font-family:'Roboto'; font-size:1em; color:#666666;" >Invite a friend and earn $10</p>
            </div><!----><div class="col-xs-2"><button type="button" class="btn btn-default">Go</button></div>
            </div>
        </a>

     
    </div></div>
      			
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;">Close</button>
      		</div>
      	
      	</div>
        </div>
        </div>
        </div>
        </div>
			
<!------------Chatbot Modal------------->

    
    
    <div id="chatbotModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="max-width:50%; height:60%; margin-left:25%;margin-top:5%;margin-rigt:auto; position:fixed; overflow:hidden">
        
    <div class="modal-content">
        <h4 style="position-fixed; color:rgba(51, 153, 204, 1); text-align:center;padding-top:5px"><i class="fa fa-comments-o" aria-hidden="true"></i>
        Richie the Bot</h4>
        
        <div class="modal-body" style="overflow-x:hidden;overflow:hidden;">
        
        <div class="box" style="max-height:200px; min-height:200px;overflow:auto;border-style:solid; border-color:#dcdcdc;border-width:thin;border-bottom-style:none">
            <ul class="chat">
            </ul>
        </div>

      	<div class="modal-footer" style="position-fixed">
      		    <div class="input-group">
      		<form id="watson">
                <input id="user-input" type="text" class="user-input2 form-control input-sm" placeholder="Type your message here..." />
                <button class="btn btn-primary" id="btn-chat" style="width:80px;">
                Send</button>
                <button id="btn-chat" type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;">Close</button>
            </form>
      	</div></div>

    </div>
    </div>
    </div>
        
        


<!------------------------->
			
			
			
	<script>
	    $('a.unslider-arrow').hide()
	</script>			
</body>
</html>





      