<!----->
<header class="navbar-default navbar-static-top" role="navigation">

    <div class="navbar-header" style="background-color:white;text-align:center">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:white;border-style:solid;border-color:#dcdcdc;background:white;margin-top:25px">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
	<a class="nav" href="/users/dashboard" style="margin-left:100px;margin-right:80px;text-align:center"><img src="/assets/Logo4.svg" height="40"></a>
	</div>

	<div class="border-bottom" style="border-bottom-style:solid; border-bottom-color:#dcdcdc;border-bottom-width:thin">
    <div class="full-left" style="margin-top:2em">
       	<h4>Total investment: <span style="color:green">$<%=current_user.calculate_total_investment%></span> | Cash: <span id="amount" style="color:green">$<%=current_user.funds/100%></span></h4>
        <div class="clearfix"></div>
    </div>
            <!-- Brand and toggle get grouped for better mobile display -->
		 
		   <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="drop-men">
		<li class="dropdown" style="font-family:'Roboto'; font-size:16px; color:black">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4><%=@user.name if @user%><span class="caret"></span></h4></a>
          <input id="username" type="hidden" value=<%=@user.name if @user %>></input>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/users/profile" style="font-family:'Roboto'; font-size:16px; color:black">Profile</a></li>
    	    <li><a href="/users/sign_out" style="font-family:'Roboto'; font-size:16px; color:black">Sign Out</a></li>
          </ul></li>
  		<img src=<%=@user.image+"?type=large" if @user%> style="height:96px">
		</div><div class="clearfix"></div>
    
    </div>
     <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
          heap.load("1674764564");
    </script>
        </header>
            	
            