<!DOCTYPE HTML>
<html>
<head>
    <title>Fiduty - Dashboard</title>

    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

    <!-- Vendor styles -->
    <link href="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.4.0/introjs.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel='stylesheet'>
    
    <!-- Custom app styles -->
    <link href="css/style.css" rel='stylesheet'>
    <link href="css/custom.css" rel="stylesheet">
    <link href="/assets/users.css" rel="stylesheet">

    <!-- JS libraries -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.4.0/intro.min.js"></script>
    <script src="js/jquery.metisMenu.js"></script>
    <script src="js/jquery.slimscroll.min.js"></script>
    <script src="/assets/radial-progress-chart.min.js"></script>
    <script src="js/skycons.js"></script>
    <script src="js/screenfull.js"></script>

    <!-- Custom scripts -->
    <script src="/assets/users.js"></script>
    <script src="js/custom.js"></script>
    <script>
    	$(function () {

    		$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
    
    		if (!screenfull.enabled) {
    			return false;
    		}
    		$(window).on("load",function(){
                $(".chat-content").mCustomScrollbar();
            });
    	});
    </script>
</head>
<body>
<input id="onboarding" type="hidden" value=<%=current_user.points if current_user%>>
	
<!----Onboarding render a Partial _onboarding.html.erb---->
<div id="onboardingdiv" <%= 'style=display:none' if current_user.points > 0 %> >
    <%= render partial: '/layouts/onboarding' %>
</div>
<!----End Onboarding---->

<%= render partial: '/layouts/header' %>
<!-- Main Grid -->
<div class="clearfix page-content">
    <div class="aside visible-lg">
        <%= render partial: '/layouts/nav' %>
    </div>
    <div class="main">
        <input id="userSignInCount" type="hidden" value=<%=current_user.sign_in_count if current_user%>>
        <input id="userLvl" type="hidden" value=<%=current_user.level_id if @user%>>
        <%= render partial: '/layouts/progressboxes' %>
        <!-------------------Progress bar end----->
        
        <%= yield %>
        
    </div>
</div>





    <!------------Chatbot Window------------->
	<div class="chat-box chat-box-fixed minimized">
	    <div data-step="1" data-intro="Hey there, this is Richie im a bot. I'm created to guide you through this process. Feel free to ask me questions anytime.">
            <h4 class="chat-title clearfix">
                <span class="title-text">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                    Richie the Bot
                </span>
                <span class="pull-right" >
                    <span id="minimizeChatBox" class="chat-control minimized-hidden">
                        <i class="fa fa-window-minimize" aria-hidden="true"></i>
                    </span>
                    <span id="restoreChatBox" class="chat-control maximized-hidden">
                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                    </span>
                    <span id="openChatBoxModal" class="chat-control">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </span>
                </span>
            </h4>
        </div>
        <div class="chat-content">
            <ul class="chat">
                <li class="msg msg-richie">
                    <div class="msg-header clearfix">
                        <strong class="msg-author">Richie</strong> 
                        <small class="msg-time text-muted">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            14 mins ago
                        </small>
                    </div>
                    <div class="msg-body">
                        <p>Feel free to ask me questions anytime.</p>
                    </div>
                </li>
                <!--<li class="msg msg-user" >-->
                <!--    <div class="msg-header clearfix">-->
                <!--        <strong class="msg-author" >User</strong> -->
                <!--        <small class="msg-time text-muted">-->
                <!--            <i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--            14 mins ago-->
                <!--        </small>-->
                <!--    </div>-->
                <!--    <div class="msg-body">-->
                <!--        <p>Hello, could you please tell me, where should I start?</p>-->
                <!--    </div>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="chat-footer">
            <form id="watson">
                <div class="chat-form">
                    <input id="user-input2" type="text" class="chat-input" placeholder="Type your message here" />
                    <!--<input id="btn-chat" type="submit" class="chat-btn btn btn-info" value="Go">-->
                </div>
            </form>
        </div>
    </div>
    
    
<!-----Chatbot End------>

<!--Facebook info modal-->
<div id="facebookModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">This is what we got from facebook.</h4>
        <h4 class="modal-title">Make sure everything is correct!</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="user_name" value="<%=current_user.name%>" required>
        </div>
        <div class="form-group">
          <label for="email">email:</label>
          <input type="email" class="form-control" id="user_email" value="<%=current_user.email%>" required>
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="age" class="form-control" id="user_age" value="<%=current_user.age_range%>" required>
        </div>
        <div class="form-group">
          <label for="gender">Gender:</label>
          <input type="gender" class="form-control" id="user_gender" value="<%=current_user.gender%>" required>
        </div>
        <div class="form-group">
          <label for="location">Location:</label>
          <input type="location" class="form-control" id="user_location" value="<%=current_user.locale%>" required>
        </div>
        <div class="form-group">
          <label for="birthday">Birthday:</label>
          <input type="birthday" class="form-control" id="user_birthday"value="<%=current_user.birthday%>" required>
        </div>
      </div>
      <div class="modal-footer">
        <button id="update_user_info" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>
    <!---->

</body>
</html>

