<!DOCTYPE HTML>
<html>
<head>
<title>Fiduty - Dashboard</title>

<meta name="viewport" content="width=device-width, user-scalable=no">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/font-awesome.css" rel="stylesheet">
<script src="js/jquery.min.js"> </script>

<!-- Mainly scripts -->
<script src="js/jquery.metisMenu.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
<script src="/assets/radial-progress-chart.min.js"></script>
<script src="/assets/users.js"></script>

<!-- Custom and plugin javascript -->
<link href="css/custom.css" rel="stylesheet">
<link href="/assets/users.css"></link>
<script src="js/custom.js"></script>
<script src="js/screenfull.js"></script>

		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
			});
		</script>

<!--skycons-icons-->
<script src="js/skycons.js"></script>
<!--//skycons-icons-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->


<!--Slider links-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider-dots.css"></link>
<link href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css"></link>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></link>
<!---->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider-dots.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script> 
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>


<!----------------Body
					---------------------->

<body style="font-family:'Roboto'; font-size: 20px; color:#666666;">
 <input id="onboarding" type="hidden" value=<%=current_user.points if @user%>></input>
	
<!----Onboarding render a Partial _onboarding.html.erb---->
<div style="display:<%= "none" if current_user.points > 0 %>">
<%= render partial: '/layouts/onboarding' %>
</div>
<!----End Onboarding---->


<%= render partial: '/layouts/header' %>
<%= render partial: '/layouts/nav' %>


	<div id="wrapper" style="min-height:750px">
		
<!------------Chatbot Button------------->

		<!--<div class="box" style="height:250px;width:220px; border-style:solid; border-color:black;border-width:thin; margin-top:260px; margin-left:20px; margin-bottom:40px; position:fixed;overflow:scroll;">-->
		<!--<p id ="writing" style="font-size:1em; color:rgba(51, 153, 204, 1);">Hey there, this is Richie im a bot. I'm created to guide you through this process. Feel free to ask me questions anytime, I'm powered by Artificial Intelligence.</p>-->
	<div class="col-md-3">
	   <div class="box" style="min-height:310px;width:240px; margin-top:260px; margin-left:0px; margin-bottom:40px; position:fixed; font-size:16px; border-style:solid; border-color:black;border-width:thin;">
	       <div class="row"><div class="col-xs-9 col-xs-offset-0"><h4 style="color:rgba(51, 153, 204, 1); text-align:left;padding-top:5px;padding-left:12px"><i class="fa fa-comments-o" aria-hidden="true"></i>
Richie the Bot</div><div class="col-xs-3" style="text-align:right;padding-right:20px;padding-top:5px"><a id="openChatBoxModal" href="#"><i class="fa fa-plus-square-o" aria-hidden="true" style="color:rgba(51, 153, 204, 1);"></i></a></h4></div></div>

	       <div class="panel-body" style="overflow-y: scroll; padding:5px; max-height:180px">
            <ul class="chat">
                <li class="left clearfix" style="padding:0px">
                <div class="chat-body clearfix" style="padding:0px">
                <div class="header">
                <strong class="primary-font" style="color:rgba(51, 153, 204, 1)">Richie</strong> <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                </div>
                        <p>
                            Hi Im here to help
                        </p>
                </div>
                </li>
            </ul>
            </div>
            
            <div class="panel-footer">
                <div class="input-group">
                     <form id="watson">
                        <input id="user-input" type="text" class="user-input form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                           <input type="submit" class="btn btn-primary btn-sm" id="btn-chat"value="Send"></input>
                       </span>
                     </form>
                     
                </div>
            </div>
        </div></div>

		<!--<a id="next" class="btn btn-default btn-lg" style="white-space: normal; margin-top:520px; margin-left:170px; margin-bottom:40px; position:fixed;"><h4>Next</h4></a>-->

	
	<div id="page-wrapper" >
	<div class="content-main" style="background:white">

 
  <%= render partial: '/layouts/progressboxes' %>
  <%= yield %>

	 
<!---->

<!------------Footer------------->


<!------------------------->
	
</div>
</div>
	<footer class="copy" style="text-align:right; padding-right:45px;">
    <p>2017 Fiduty - all rights reserved</p>
	<div class="clearfix"> </footer>
</div>
<!---->

</body>
</html>

